<!DOCTYPE html>
<html lang="{{ site.lang | default: "vi-VN" }}">
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
<meta property="og:url"          content="https://nvck2002.github.io/" />
<meta property="og:type"         content="article" />
<meta property="og:title"        content="MACRO PUBG MOBILE ( Tencent Gaming Buddy )" />
<meta property="og:description"  content="Macro For PUBG Tencent Gaming Buddy 100% NO BAN!" />
<meta property="og:image"        content="https://raw.githubusercontent.com/nvck2002/nvck2002.github.io/master/banner.jpg" />

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/icon" href="https://raw.githubusercontent.com/nvck2002/nvck2002.github.io/master/img/favicon.ico"/>

  </head>

<script>
      window.fbMessengerPlugins = window.fbMessengerPlugins || {
        init: function () {
          FB.init({
            appId            : '1678638095724206',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v3.0'
          });
        }, callable: []
      };
      window.fbAsyncInit = window.fbAsyncInit || function () {
        window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
        window.fbMessengerPlugins.init();
      };
      setTimeout(function () {
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }, 0);
  
  
  $(document).ready(function(){
  window.location.replace("https://ani-vn.tech/");
});
      </script>
      
      <div
        class="fb-customerchat"
        page_id="1620812324898123"
        ref="">
      </div>


  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.show_downloads %}
      <h4 class="project-tagline">Version: {{ site.github.phienBan }}</h4>
        <a href="{{ site.github.64_url }}" class="btn">PUBGMC 64Bit</a>
        <a href="{{ site.github.32_url }}" class="btn">PUBGMC 32Bit</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">


      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> được code bởi <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
